#banner
  .banner_content
    %h1 File Cabinet
    %p Your lif's work. Organized, always.
    %button= link_to "Enter" ,  new_user_registration_path

#callouts
  .callout_inner 
    .wrapper
      .callout  
        %h2 Organize
        %p Stratup by Alvaro Alvarez like a test coding whith Ruby on Rails

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path